<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Style.sheets -->

	<title>Let's Get ronger</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="js/app.js"></script>
	
</head>
<body>
	<div class="jumbotron">
	  <div class="container">
		<h1>Let's Get Stronger</h1>
	  	<p>Create and track your workout progress!</p>
	  </div>
	</div>
  
	<section id='workout-form' class="container">
		<div class="row">
		<div class="col-md-10 col-md-offset-1">	
			<form class="form-horizontal">
				<fieldset>	
		
					<h2>Create a Workout</h2>
					<h3>Name your workout</h3>
					
					  <input id="workout-name" type="text" name="workoutName" placeholder="ex. Arms and Back">
					
					
					<h4>Description</h4>
					
					  <input id="description"type="text" name="description">
				
				<!-- you need to find out how to continually add an input box -->
				<div class="exercises">
					<h5>Exercise 1:</h5>
					  <input id="ex1" type="text" name="exercises[]" placeholder="pull ups">
						<h5>Exercise 2:</h5>
						<input id="ex2" type="text" name="exercises[]">
						<h5>Exercise 3:</h5>
						<input id="ex3" type="text" name="exercises[]">
						<h5>Exercise 4:</h5>
						<input id="ex4" type="text" name="exercises[]">
						<h5>Exercise 5:</h5>
						<input id="ex5" type="text" name="exercises[]">
						<h5>Exercise 6:</h5>
						<input id="ex6" type="text" name="exercises[]">

						<div class="hidden-test">
							<h5>Exercise 7:</h5>
						  	<input id="ex7" type="text" name="exercises[]">
						  	<h5>Exercise 8:</h5>
						  	<input id="ex8" type="text" name="exercises[]">
						  	<h5>Exercise 9:</h5>
						  	<input id="ex9" type="text" name="exercises[]">
						  	<h5>Exercise 10:</h5>
						  	<input id="ex10" type="text" name="exercises[]">
						  	<h5>Exercise 11:</h5>
						  	<input id="ex11" type="text" name="exercises[]">
						  	<h5>Exercise 12:</h5>
						  	<input id="ex12" type="text" name="exercises[]">
						  	<h5>Exercise 13:</h5>
						  	<input id="ex13" type="text" name="exercises[]">
						  	<h5>Exercise 14:</h5>
						  	<input id="ex14" type="text" name="exercises[]">
						  	<h5>Exercise 15:</h5>
						  	<input id="ex15" type="text" name="exercises[]">
						</div><br>
					</div>
					<br><button type="button" id="addMore">Add more exercises to this workout</button><br>
					
				<div class="create">
					<br><button type="button" class="btn-btn-primary" id="createWorkout">Create Workout</button>
				</div>
				</fieldset>
			</form>
		</div>
		</div>
	</section>	

	<section class="workouts">
		<div class="container">
			<div class="row">
			<h2>Workouts</h2></br>
				<div class="col-md-6 col-md-offset-3">
								<br>
						<ul class="list-group" id="workout-list">
						
            				<script id="workout-template" type="text/x-handlebars-template">
					            {{#each workouts}}
					              <li >
					              workout_id: {{_id}} TEMPORARY
					              <p class="list-group-item workout" data-id="{{_id}}"><strong>Workout: </strong>{{workoutName}}</p>
					              <p><strong>Description: </strong>{{description}}</p>
					              <p><strong>Exercises: </strong>
					              		<ul>
						              		{{#each exercises}}
						              			<li>{{note}}, exercise_id: {{_id}} TEMPORARY</li>
						              		{{/each}}
					              		</ul>
					              </li></br>
					            {{/each}}

					          </script>
          				</ul>
							
					</div>
				</div>
			</div>
		</div>
	
	
	</section>
<!-- Button HTML (to Trigger Modal) -->
<!-- <a href="#myModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Delete Workout</a> -->
 
<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{workoutName}}</h4>
            </div>
            <div class="modal-body">
                <p>Would you like to perform any of these actions before moving on?</p>
                <p class="text-warning">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="update" class="btn btn-primary">Update Workout</button>
		            <button type="button" id="delete" class="btn btn-primary">Delete</button>
                <button type="button" id="continue" class="btn btn-primary">Continue to Workout</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>